@font-face {
  font-family: 'HelveticaRoman';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaRoman'), url("./fonts/HelveticaNeue-Roman.otf") format('truetype');
}

@font-face {
  font-family: 'HelveticaMedium';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaMedium'), url("./fonts/HelveticaNeueMedium.ttf") format('truetype');
}

@font-face {
  font-family: 'HelveticaBold';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaBold'), url("./fonts/HelveticaNeueBold.ttf") format('truetype');
}

body {
  margin: 0;
  font-family: "HelveticaRoman";
}

code {
  font-family: "HelveticaRoman";
}
